

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 500px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .sections{
      	padding-top:50px;
      	padding-bottom:50px;
      }

      /*footer{
      	margin-top:10%;
      }*/
      nav{
      	background-color:#EBEBEB ;
      	/*color:white: #EBEBEB */
      }

      #category .row div{
      	padding-top:30px;
      	padding-bottom:30px;
      }

      .btn {
        border: white;
        font-family: Anton,sans-serif;
        background-color: inherit;
        padding:0px ;
        font-size: 80px;
        cursor: pointer;
        display: inline-block;
            }
        .btn:hover {
              background-color: white;
            }



      html{
        scroll-behavior: smooth;
      }



header {
  background-image: url("nturobg.png");
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: over;
  overflow: auto
    }


#about {
    background-image: url("aboutbg.png");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: over;
  }

#category {
  background-image: url("racemap2.png");
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: over;
  overflow: auto

}
#info {
  background-image: url("categories.png");
  display: table;
  height: 900px;
  position: relative;
  width: 100%;
  background-size: over;
  background-repeat: no-repeat;
  overflow: auto

}
#partners {
  background-image: url("register.png");
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-size: over;
  overflow: auto

}
.direction {
    position: relative;
}
.top-right {
  position: absolute;
  top: 45%;
  left: 60%;
  width: 100%;
}
/*#direction {
  background-image: url("direction.png");
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;

}*/

#faq {
  background-image: url("faq.png");
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: over;
  background-repeat: no-repeat;
  overflow: auto

}
p{
  text-align: left;
}

a{
  word-break: break-all;
}

header iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.fill {
  height:100%;
  min-height:100%;
}

html, body{
  height:100%;
}

.navbarSupportedContent{
  display:flex;
}
.navbarSupportedContent ul {
  margin:0 3rem 0 0;
  padding:0;
  list-style:none;
  display:flex;
  flex:1 0 0%;
  justify-content:space-between
}
.navbarSupportedContent ul a {
  display:block;
  padding:5px 10px;
}


header .mobile-overlay {
    background: url('https://img.youtube.com/vi/mQcoLu7hVOY/maxresdefault.jpg') black no-repeat center center scroll;
    background-size: cover;
    filter: blur(5px);
  }

  .arrow {
          font-size:50px;
          animation: blinker 3s linear infinite;
          -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg) scale(.5, 1);
    /*transform: ;*/
      }

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.table-responsive td{
      text-align:center;
    }

    #info h3{
      padding-top:50px;
    }

  #sponsors img{
    /*max-height: ;*/
    max-height:300px;
    height:auto;
    max-width:100%;

  }
  #sponsors .row{
    padding-top:20px;
    padding-bottom:20px;
  }
  #faq .row div{
    padding-top:15px;
    padding-bottom:15px;
  }
